[submodule "projects/06/Hack-Assembler"]
	path = projects/06/Hack-Assembler
	url = https://github.com/Yuchen-Wang-SH/Hack-Assembler
	ignore = dirty
[submodule "projects/07/Jack-Virtual-Machine-Translator"]
	path = projects/07/Jack-Virtual-Machine-Translator
	url = https://github.com/Yuchen-Wang-SH/Jack-Virtual-Machine-Translator
